@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1{
  font-weight: 800;
  font-size: 2.5rem;
}
.wp-posts {
  padding: 4em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
